@charset "utf-8";
/* CSS Document */
html{ height:100%; background:#fff;}
body{ height:100%; font-family:'Conv_AvenirNextCyr-Regular'; color:#000; font-size:12px;}
header,nav,section,article,aside,footer{ display:block}
*{ margin:0; padding:0; box-sizing:border-box;}
img{ border:none;}
a{ color:#ffc20e; outline:none; text-decoration: none;}
input:focus, textarea:focus{ outline:none;}
.clear{ clear:both; height:0px; overflow:hidden;}
.cf:before, .cf:after{ content:" "; display:table;}.cf:after{ clear:both;}
ul{ list-style:none;}
.header .phone a:after, .nav_top .search:after, .footer .social a.ic:after, .header_mobile .search:after{ background: url(../images/details/icons.png) no-repeat 0 0; content: ''; position: absolute;}
textarea, .inp{ border: 2px solid #ffc20e; background: #fff; width: 100%; height: 40px; padding: 0 8px; font:300 14px 'Conv_AvenirNextCyr-Medium'; color: #4d4d4d;}
textarea{ height: 100px; padding: 8px;}
.but{ background: #ffc20e; font:300 18px 'Conv_RobotoCondensed-Regular'; color: #404040; width: 100%; height: 40px; border: 2px solid #ffc20e; text-align: center; text-transform: uppercase; cursor: pointer; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
.but:focus, .but:hover{ background: #fff;}
.form__{ margin: 0 0 20px;}
.form__ textarea{ margin: 0 0 20px; resize: none;}
.form__ .box_inp{ overflow: hidden;}
.form__ .box_inp .box{ float: left; width: 30.6%;}
.form__ .box_inp .box + .box{ margin-left: 4.1%}
.conteiner{ min-height:100%; display: flex; flex-direction: column;}
.wrap__{ flex: 1 0 auto;}
.header{ height: 113px; background: #fed200;
background: -moz-linear-gradient(top, #fed200 0%, #ffd101 21%, #ffcf01 28%, #ffcc00 29%, #ffca02 46%, #ffba00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fed200 0%,#ffd101 21%,#ffcf01 28%,#ffcc00 29%,#ffca02 46%,#ffba00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fed200 0%,#ffd101 21%,#ffcf01 28%,#ffcc00 29%,#ffca02 46%,#ffba00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed200', endColorstr='#ffba00',GradientType=0 ); /* IE6-9 */}
.header > div{ max-width: 1280px; margin: 0 auto; position: relative;}
.header .logo{ width: 242px; height: 60px; background: url(../images/details/logo.png) no-repeat 0 0; position: absolute; left: 30px; top: 27px;}
.header .logo a{ width: 100%; height: 100%; display: block;}
.header .phone{ position: absolute; top: 43px; right: 30px; font:30px/30px 'Conv_AvenirNextCyr-Demi';}
.header .phone a{ display: block; position: relative; color: #000; padding-left: 53px;}
.header .phone a:after{ left: 0; top: 0; width: 30px; height: 30px;}
.header .distributor{ position: absolute; right: 445px; top: 24px;}
.header .distributor p{ font:15px/18px 'Conv_AvenirNextCyr-Demi'; color: #000; text-transform: uppercase; margin: 0 0 16px;}
.header .distributor .list-partn{ display: flex; flex-direction: row; justify-content: space-between;}
.nav_top{ height: 40px; background: #000;}
.nav_top > div{ max-width: 1280px; margin: 0 auto; position: relative;}
.nav_top nav{ margin: 0 0 0 7px;}
.nav_top nav a{ font:16px/40px 'Conv_AvenirNextCyr-Demi'; color: #fff; display: inline-block; padding: 0 23px; vertical-align: middle; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
.nav_top nav a:hover { background: #ffc20e; color: #000;}
.nav_top .search{ position: absolute; right: 30px; top: 10px;}
.nav_top .search:after{ right: 0; top: 0; background-position: 0 -34px; width: 20px; height: 20px; z-index: 1;}
.nav_top .search span{ width: 0; height: 2px; position: absolute; left: 0; bottom: 0; background: #ffc20e; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; z-index: 1;}
.nav_top .search input{ border: none; background: none; width: 175px; height: 20px; font:14px 'Conv_AvenirNextCyr-Regular'; color: #fff; position: relative; z-index: 2;}
.nav_top .search input:focus{ padding-right: 30px;}
.nav_top .search input:focus + span{ width: 145px;}
.footer{ flex: 0 0 auto;
background: #363636;
background: -moz-linear-gradient(top, #363636 0%, #313131 20%, #303030 22%, #2d2d2d 23%, #2d2d2d 29%, #252525 42%, #272727 42%, #232323 44%, #232323 48%, #1e1e1e 57%, #1b1b1b 58%, #1c1c1c 60%, #171717 71%, #141414 73%, #101010 86%, #0d0d0d 87%, #0b0b0b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #363636 0%,#313131 20%,#303030 22%,#2d2d2d 23%,#2d2d2d 29%,#252525 42%,#272727 42%,#232323 44%,#232323 48%,#1e1e1e 57%,#1b1b1b 58%,#1c1c1c 60%,#171717 71%,#141414 73%,#101010 86%,#0d0d0d 87%,#0b0b0b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #363636 0%,#313131 20%,#303030 22%,#2d2d2d 23%,#2d2d2d 29%,#252525 42%,#272727 42%,#232323 44%,#232323 48%,#1e1e1e 57%,#1b1b1b 58%,#1c1c1c 60%,#171717 71%,#141414 73%,#101010 86%,#0d0d0d 87%,#0b0b0b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#363636', endColorstr='#0b0b0b',GradientType=0 ); /* IE6-9 */}
.footer > div{ position: relative; max-width: 1280px; margin: 0 auto; padding: 50px 0 25px 22px; display: flex; flex-direction: row; justify-content: space-between;}
.footer .logo{ width: 350px; height: 53px; background: url(../images/details/logo.jpg) no-repeat 0 0; margin: 0 0 40px;}
.footer .logo a{ width: 100%; height: 100%; display: block;}
.footer .addr{ font:18px/28px 'Conv_AvenirNextCyr-Medium'; color: #fff; margin: 0 0 20px;}
.footer .addr span{ color: #ffc20e}
.footer .addr a{ color: #fff;}
.footer .social{ font-size: 0;}
.footer .social a.ic{ position: relative; display: inline-block; vertical-align: top; margin: 0 30px 0 0; width: 30px; height: 30px;}
.footer .social a.ic:after{ left: 0; top: 0; width: 100%; height: 100%;}
.footer .social a.ic--fb:after{ background-position: 0 -58px;}
.footer .social a.ic--in:after{ background-position: 0 -89px;}
.footer .nav__list{ font-size: 0; max-width: 610px;}
.footer .nav__list .box{ font-size: 0; display: inline-block; vertical-align: top; padding-right: 50px;}
.footer .footer .nav__list .box:last-child{ margin-top:-20px;}
.footer .nav__list h3, .footer .nav__list h3 a{ font:16px/26px 'Conv_AvenirNextCyr-Regular'; color: #ffc20e;}
.footer .nav__list ul li{ font:16px/26px 'Conv_AvenirNextCyr-Regular'; color: #fff;}
.footer .nav__list ul li a{ color: #fff;}
.footer .nav__list h3 a, .footer .nav__list ul li a{ transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; border-bottom: 1px solid #fff; border-color: transparent;}
.footer .nav__list h3 a:hover{ border-color: #ffc20e;}
.footer .nav__list ul li a:hover{ border-color: #fff;}
.header_mobile{ display:none; background:#fed200; height:129px; position:relative;}
.header_mobile #logo_{ background:url(../images/details/logo.png) no-repeat 0 0; background-size: cover; width:121px; height:30px; margin:0 0 0 15px; position: relative; top: 10px;}
.header_mobile #logo_ a{ display: block; width: 100%; height: 100%;}
.header_mobile #nav_but, .header_mobile #search_but, .header_mobile #menulist .close_, .header_mobile #menulist ul li.phone a, #search_box .close_, #search_box #search_but_{ background:url("../images/details/mobil.png") no-repeat 0 0;}
.header_mobile #nav_but{ position:absolute; right:0; top:0; z-index:1; width:131px; height:127px; background-position:-77px 46px; cursor:pointer;}
.header_mobile #menulist{ position:absolute; right:0; top:0; z-index:2; display:none; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -webkit-transition:all 0.3s ease; -o-transition:all 0.3s ease;}
.header_mobile #menulist .close_{ position:absolute; right:0; top:0; z-index:1; width:131px; height:129px; background-color:#fed200; background-position:-77px -188px; border-left:1px solid #e9e9e9; cursor:pointer;}
.header_mobile #menulist.act .close_{ border-left:0;}
.header_mobile #menulist ul{ position:absolute; right:0; top:49px; background:#fff; border-left:1px solid #fed200; border-top:2px solid #fed200; width:320px;}
.header_mobile #menulist.act{ display:block;}
.header_mobile #menulist ul li{ border-bottom:2px solid #fed200;}
.header_mobile #menulist ul li a{ display:block; font:300 14px/14px 'Conv_AvenirNextCyr-Demi'; color:#333; padding:10px 15px; box-sizing:border-box; text-transform:uppercase;}
.header_mobile #menulist ul li.act a{ background:#fed200; color: #fff;}
.header_mobile #menulist ul li a:hover{ background:#fed200; color: #fff;}
.header_mobile #menulist ul li.pr a{ background:#fed200;}
.header_mobile{ height:50px;}
.header_mobile #nav_but{ width:50px; height:50px; background-size:100px; background-position:-47px 16px;}
.header_mobile #menulist .close_{ width:50px; height:50px; background-size:100px; background-position:-45px -100px;}
.header_mobile .search{ position: relative;}
.header_mobile .search:after{ right: 0; top: 0; background-position: 0 -34px; width: 20px; height: 20px; z-index: 1;}
.header_mobile .search span{ width: 0; height: 2px; position: absolute; left: 0; bottom: 0; background: #ffc20e; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; z-index: 1;}
.header_mobile .search input{ border: none; background: none; width: 100%; padding: 0 15px; height: 30px; font:14px 'Conv_AvenirNextCyr-Regular'; color: #333; position: relative; z-index: 2;}
.header_mobile .search input:focus{ padding-right: 30px;}
.header_mobile .search input:focus + span{ width: 100%;}
.content__{ display: flex; flex-direction:row; justify-content:space-between; width: 1280px; margin: 0 auto 30px;}
.content__ .block_left{ width: 250px;}
.content__ .block_center{ width: 720px;}
.content__ .block_right{ width: 250px;}
.title{ /*padding: 13px 0 13px 30px;*/padding: 13px 0 18px 0;}
.title h2{ font:18px/24px 'Conv_RobotoCondensed-Regular'; color: #404040; text-transform: uppercase; border-bottom: 2px solid #ffc20e; display: inline-block;}
.block_center .title{ padding: 15px 0 18px 0px; text-align: center;}
.crumbs{ font:12px/24px 'Conv_AvenirNextCyr-Regular'; padding: 13px 0;}
.crumbs a{ display: inline-block; vertical-align: top; color: #666; position: relative;}
.crumbs a:hover{ text-decoration: underline;}
.crumbs a + a{ padding-left: 7px;}
.crumbs a + a:after, .crumbs span:after{ content: ''; position: absolute; left: 0; top: 50%; margin-top: -1px; width: 4px; height: 2px; background: #ffe4aa;}
.crumbs span{ position: relative; color: #010101; padding-left: 7px;}
.top__filter{ border: 2px solid #ffc20e; padding: 11px 6px; font-size: 0; margin: 0 0 30px;}
.top__filter a{ font:14px/26px 'Conv_AvenirNextCyr-Medium'; color: #404040; margin: 0 12px; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; display: inline-block;}
.top__filter a:hover{ text-decoration: underline;}
.productlist .box{ position: relative; width: 250px; height: 250px; background-size: cover; background-position: center center; margin: 0 0 30px;}
.productlist .box a{ display: block; width: 100%; height: 100%;}
.productlist .box .text{ display: block; position: absolute; left: 0; bottom: 0; font:14px/24px 'Conv_RobotoCondensed-Bold'; color: #fff; text-transform: uppercase; padding: 10px 14px; width: 100%;}
.banner_right .box{ width: 250px; height: 507px; background-size: cover; background-position: center center; margin: 0 0 30px;}
.banner_right .box a{ display: block; width: 100%; height: 100%;}
.product__list{ font-size: 0; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;}
.product__list .box > a{ display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.product__list .box{ position: relative; background: #f5f5f5; width: 220px; height: 300px; margin: 0 0 30px;}
.product__list .box:hover{ -webkit-box-shadow:0px 0px 15px rgba(245,245,245,.9); -moz-box-shadow:0px 0px 15px rgba(245,245,245,.9); box-shadow:0px 0px 15px rgba(245,245,245,.9);}
.product__list .box:hover > a{ border: 2px solid #ffc20e;}
.product__list .box_img{ position: relative; width: 100%; height: 145px; background-size: cover; background-position: center center;}
.product__list .box_img .text{ display: block; position: absolute; left: 0; bottom: 0; font:16px/20px 'Conv_RobotoCondensed-Bold'; color: #fff; padding: 10px 19px; width: 100%; text-shadow:1px 1px 1px rgba(0,0,0,.8);}
.product__list .box_details{ padding: 18px; border: 1px solid #ebebeb; border-top: none; height: 155px;}
.product__list .box_details .price{ font:18px/20px 'Conv_RobotoCondensed-Bold'; color: #404040; text-align: right; padding: 16px 0 0;}
.product__list .box_details .box_param{ font:14px/26px 'Conv_RobotoCondensed-Regular'; color: #666; overflow: hidden;}
.product__list .box_details .box_param span{ float: right; min-width: 52px; color: #404040; font-size: 16px;}
.navleft{ padding: 0 0 15px;}
.navleft .box{ background: #f2f2f2; margin: 0 0 20px;}
.navleft .box .head{ padding: 14px 10px 14px 30px; cursor: pointer; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
.navleft .box .head img{ display: block;}
.navleft .box .body{ display: none;}
.navleft .box .body a{ font:14px/24px 'Conv_AvenirNextCyr-Medium'; color:#404040; display: block; border-left: 10px solid #ffc20e; border-color: transparent; padding: 5px 5px 5px 20px; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
.navleft .box .body a.act, .navleft .box .body a:hover{ background: #e6e6e6; border-color: #ffc20e; color: #000;}
.navleft .box.open .head, .navleft .box .head:hover{ background: #ffc20e;}
.navleft .box.open .body{ display: block;}
.newslist{ padding: 0 0 0 14px;}
.newslist a{ position: relative; padding: 0 0 0 16px; display: block; font:14px/24px 'Conv_AvenirNextCyr-Demi'; color: #404040; margin: 0 0 12px;}
.newslist a:hover{ text-decoration: underline;}
.newslist a:after{ content: ''; width: 6px; height: 6px; background: #ffc20e; position: absolute; left: 0; top: 10px;}
.newslist h2{ margin-left: 15px;}
.pagination{ text-align: center; font-size: 0;}
.pagination a{ display: inline-block; vertical-align: top; margin: 0 10px; padding: 0 5px; min-width: 24px; background: #f5f5f5; font:14px/24px 'Conv_AvenirNextCyr-Demi'; color: rgba(0,0,0,.5); transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out;}
.pagination a:hover, .pagination a.act{ background: #ffc20e; color: rgba(0,0,0,1);}
.pagination a.act{ cursor: default;}
.main__slider{ height: 350px; margin: 0 0 10px;
background: #4b4b4b; /* Old browsers */
background: -moz-linear-gradient(top, #4b4b4b 0%, #494949 6%, #474747 6%, #3b3b3b 25%, #383838 26%, #303030 37%, #2d2d2d 38%, #282828 44%, #242424 47%, #1e1e1e 54%, #1a1a1a 56%, #181818 59%, #060606 75%, #010101 86%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4b4b4b 0%,#494949 6%,#474747 6%,#3b3b3b 25%,#383838 26%,#303030 37%,#2d2d2d 38%,#282828 44%,#242424 47%,#1e1e1e 54%,#1a1a1a 56%,#181818 59%,#060606 75%,#010101 86%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4b4b4b 0%,#494949 6%,#474747 6%,#3b3b3b 25%,#383838 26%,#303030 37%,#2d2d2d 38%,#282828 44%,#242424 47%,#1e1e1e 54%,#1a1a1a 56%,#181818 59%,#060606 75%,#010101 86%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4b4b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */}
.main__slider > div{ max-width: 1280px; margin: 0 auto;}
.main__slider .slick-slide{ position: relative;}
.main__slider .text_block{ width: 423px; height: 100%; background: rgba(0,0,0,.7); position: absolute; right: 0; top: 0; display: flex; align-items: center;}
.main__slider .text_block > div{ width: 330px; margin: 0 auto;}
.main__slider .text_block h3{ font:24px/30px 'Conv_AvenirNextCyr-Demi'; color: #ffc20e; margin: 0 0 16px;}
.main__slider .text_block p{ font:16px/20px 'Conv_AvenirNextCyr-Medium'; color: #fff; margin: 0 0 20px;}
.product__slider .slick-dots{ width: 100%; position: relative; bottom: 0; margin: 20px 0;}
.product__slider .slick-dots li{ margin: 0 10px;}
.product__slider{ margin: 0 -15px;}
.product__slider .slick-slide{ margin: 0 15px;}
.block_text{ font:14px/24px 'Conv_AvenirNextCyr-Medium'; color: #4d4d4d; padding: 0 0 20px;}
.block_text p, .block_text ul, .block_text ol{ margin: 0 0 20px;}
.block_text strong{ font-family: 'Conv_AvenirNextCyr-Demi'; font-weight: normal;}
.block_text h3, .block_text h2, .block_text h1{ font:14px/24px 'Conv_AvenirNextCyr-Demi'; text-transform: uppercase; color: #4d4d4d; margin: 0 0 28px;}
.block_text h4, .block_text h5, .block_text h6{ font:14px/24px 'Conv_AvenirNextCyr-Demi'; color: #4d4d4d; margin: 0 0 28px;}
.block_text ol li{ margin: 0 0 20px 15px;}
.block_text ul li{ position: relative; padding: 0 0 0 23px; margin: 0 0 20px;}
.block_text ul li:after{ content: ''; width: 6px; height: 6px; background: #ffc20e; position: absolute; left: 0; top: 10px;}
.block_text a:hover{ text-decoration: underline;}
.block_text.leasing_block ul li{ margin: 0;}
.block_text.leasing_block p{ padding-left: 23px;}
.pertners__list .box{ margin: 0 0 30px; display: flex; flex-direction: row;}
.pertners__list .box_img{ width: 220px; height: 142px; background: #fff6db; text-align: center; display: flex; align-items: center; justify-content:center; margin: 0 30px 0 0;}
.pertners__list .box_img a{ width: 100%; height: 100%; text-align: center; display: flex; align-items: center; justify-content:center; padding: 0 10px;}
.pertners__list .box_txt{ text-align: left; display: flex; align-items: center; justify-content:center; font:18px/28px 'Conv_RobotoCondensed-Regular'; color: #404040;}
.news__list{ padding: 0px 0 20px;}
.news__list .box{ margin: 0 0 20px;}
.news__list .head{ position: relative; padding: 0 0 0 25px; font:14px/24px 'Conv_AvenirNextCyr-Demi'; color: #4d4d4d;}
.news__list .head:after{ content: ''; width: 6px; height: 6px; background: #ffc20e; position: absolute; left: 0; top: 10px;}
.news__list .head h3{ font:14px/24px 'Conv_AvenirNextCyr-Demi'; text-transform: uppercase; color: #4d4d4d;}
.news__list .date{ font:10px/20px 'Conv_AvenirNextCyr-Demi'; color: #ffc20e;}
.news__list .body{ font:14px/24px 'Conv_AvenirNextCyr-Medium'; color: #4d4d4d;}
.padd-bot{ padding: 0 0 20px;}
#section_map{ height:292px; width:100%; position:relative; margin: 26px 0;}
#section_map #map{ z-index:10; height:292px;}
.advantages{ text-align: center; font-size: 0; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;}
.advantages .box{ width: 220px; height: 142px; background: #fff6db; margin: 0 auto 30px; padding: 10px 10px 0;}
.advantages .box_img{ text-align: center; display: flex; align-items: center; justify-content:center; height: 60px;}
.advantages .box_txt{ font:18px/28px 'Conv_RobotoCondensed-Regular'; color: #404040; text-align: center;}
.product_detail{ margin: 0 0 30px; font-size: 0; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between;}
.product_detail .box_img{ width: 470px; height: 310px; margin: 0 30px 0 0; background-size: cover; background-position: center center;}
.product_detail .box_txt{ width: 220px; height: 310px; display: flex; flex-direction: column; justify-content: space-between;}
.product_detail .box_param{ font:14px/26px 'Conv_RobotoCondensed-Regular'; color: #666; overflow: hidden; padding: 26px 0 0;}
.product_detail .box_param span{ float: right; min-width: 52px; color: #404040; font-size: 16px;}
.product_detail .box_bott .price{ font:24px/24px 'Conv_RobotoCondensed-Regular'; color: #404040; text-align: right;}
.product_detail .box_bott .but{ margin-top: 14px;}
.tabs{ margin: 0 0 20px;}
.tabs .tabs_nav ul{ border-bottom: 2px solid #ffc20e; font-size: 0;}
.tabs .tabs_nav li{ padding: 0 28px; height: 38px; font:18px/38px 'Conv_RobotoCondensed-Regular'; margin: 0 2px 0 0; display: inline-block; vertical-align: top; cursor: pointer; transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -webkit-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; background: #f5f5f5; color: #666;}
.tabs .tabs_nav li.act{ cursor: default;}
.tabs .tabs_nav li.act, .tabs .tabs_nav li:hover{ background: #ffc20e; color: #404040;}
.tabs .tabs_content > div{ display: none;}
.tabs .tabs_content{ padding: 20px 30px;}
.tabs .tabs_content table{ border-collapse: collapse; width: 100%;}
.tabs .tabs_content td{ font:14px/26px 'Conv_RobotoCondensed-Regular'; color: #666;}
.tabs .tabs_content td:last-child{ font-size: 16px; color: #404040;}
.calculation_form{ margin: 0 0 26px;}
.calculation_table{ overflow-y: auto;}
.calculation_table table{ border-collapse: collapse; width: 100%;}
.calculation_table th{ padding: 10px 20px; text-align: right; font:14px/24px 'Conv_AvenirNextCyr-Medium'; color: #4d4d4d; background: #f5f5f5; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
.calculation_table td{ padding: 10px 20px; text-align: right; font:14px/24px 'Conv_AvenirNextCyr-Medium'; color: #4d4d4d; border-bottom: 1px solid #d9d9d9; background: #fcfcfc;}
.calc_summ{ font:14px/24px 'Conv_AvenirNextCyr-Demi'; color: #4d4d4d; margin: 0 0 45px; text-align: center; text-transform: uppercase;}
.calc_summ strong{ font-family: Conv_AvenirNextCyr-Bold; font-weight: normal;}
.select2 *{ outline: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{ font:300 14px/36px 'Conv_AvenirNextCyr-Medium'; color: #4d4d4d;}
.partn{ font-size: 0; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; margin-top: 36px;}
.phone__{ position:fixed; z-index:10; top:50%; margin-top:-47px; right:0px; display:block; width:94px; height:94px; background:url("../images/details/phone__.png") no-repeat 0 0;}
.phone__ a{ width:100%; height:100%; display:block;}
@media screen and (max-width:1280px){
    .content__{ width: auto; padding: 0 15px;}
}
@media screen and (max-width:1200px){
	.nav_top nav{ margin: 0 0 0 5px;}
	.nav_top nav a{ padding: 0 10px;}
	.nav_top .search{ right: 15px;}
	.header .logo{ left: 15px;}
	.header .phone{ right: 15px;}
	.header .distributor{ right: 368px;}
	.content__{ width: auto;}
	.content__ .block_center{ width: 466px;}
	.footer > div{ padding: 50px 0 25px 15px;}
	.box__info{ margin-right: 5px;}
	.nav__list{ max-width: 590px;}
	.pertners__list .box{ flex-direction: column}
	.pertners__list .box_img{ width: 100%; margin: 0 0 10px;}
	.pertners__list .box_txt{ display: block; font: 16px/22px 'Conv_RobotoCondensed-Regular';}
	.product_detail .box_img{ width: 100%; margin: 0;}
	.product_detail .box_txt{ height: auto; width: 100%;}
	.partn{ display: block;}
	.partn .box{ display: block; text-align: center;}
	.partn .box + .box{ margin-top: 20px;}
}
@media screen and (max-width:1024px){
	.header .distributor{ display: none;}
	.nav_top{ height: 80px;}
	.nav_top .search{ top:50px;}
	.product__list { width: 220px; margin: 0 auto;}
	.product__list .slick-dots{ width: 100%; position: relative; bottom: 0; margin: 0 0 20px;}
	.product__list .slick-dots li{ margin: 4px;}
	.footer > div{ flex-direction: column; padding: 15px;}
	.footer .nav__list{ order: 1; width: 100%; margin: 0 0 20px; max-width: 100%;}
	.footer .box__info{ order: 2; width: 100%;}
	.footer .footer .nav__list .box:last-child{ margin-top:0px;}
	.footer .logo{ margin: 0 auto 20px;}
	.footer .social{ text-align: center;}
	.footer .social a.ic{ margin: 0 15px}
	.footer .addr{ text-align: center;}
	.block_text, .pertners__list, .news__list, .advantages, .form__, .product_detail, .tabs{ padding-left: 15px; padding-right: 15px;}
	.form__ .box_inp .box{ width: 100%; margin: 0 0 20px;}
	.form__ .box_inp .box + .box{ margin-left:0%}
	.tabs .tabs_nav li{ padding: 0 18px;}
	.tabs .tabs_content{ padding: 20px 0;}
    .phone__{ width:80px; height:80px; background-size:80px;}
}
@media screen and (max-width:767px){
	.nav_top, .header{ display: none;}
	.header_mobile{ display: block;}
	.content__{ flex-direction: column;}
	.content__ .block_left, .content__ .block_center, .content__ .block_right{ width: 100%;}
	.navleft .box{ margin: 0 0 1px;}
	.content__ .block_center{ order: 1; margin: 0 0 20px;}
	.content__ .block_left{ order: 2;}
	.content__ .block_right{ order: 3;}
	.product__list{ justify-content: center;}
	.crumbs{ padding: 15px;}
	.top__filter{ padding: 11px 3px;}
	.product__list{ width: 100%; margin: 0 auto; padding: 0 15px;}
	.product__list .box{ margin: 0 15px 15px;}
	.banner_right .box{ height: 250px;}
	.productlist .box, .banner_right .box{ margin: 0 auto 30px;}
	.main__slider .text_block{ width: 100%;}
	.main__slider .text_block > div{ padding: 15px; width: 100%;}
	.main__slider .slick-dots{ width: 100%; bottom: 10px;}
	.footer .nav__list .box{ width: 50%; padding-right: 10px;}
	.title{ text-align: center;}
    .newslist h2{ margin-left: 0;}
	.productlist{ text-align: center;}
	.productlist .box{ margin: 0 15px 30px; display: inline-block;}
	.tabs .tabs_nav li{ padding: 0 10px; font-size: 16px;}
	.calculation_table th{ padding: 10px 5px; font:14px/24px 'Conv_AvenirNextCyr-Medium';}
	.calculation_table td{ padding: 10px 5px;  font:14px/24px 'Conv_AvenirNextCyr-Medium';}
    .content__{ padding: 0;}
}
@media screen and (max-width:380px){
	.footer .logo{ width: 280px; height: 42px; background-size: cover;}
	.footer .nav__list .box{ width: 100%; text-align: center;}
	.header_mobile #menulist ul, .header_mobile #menulist{ width: 100%;}
}





