@font-face {
	font-family: 'Conv_RobotoCondensed-Bold';
	src: url('RobotoCondensed-Bold.eot');
	src: local('☺'), url('RobotoCondensed-Bold.woff') format('woff'), url('RobotoCondensed-Bold.ttf') format('truetype'), url('RobotoCondensed-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_RobotoCondensed-Regular';
	src: url('RobotoCondensed-Regular.eot');
	src: local('☺'), url('RobotoCondensed-Regular.woff') format('woff'), url('RobotoCondensed-Regular.ttf') format('truetype'), url('RobotoCondensed-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Regular';
	src: url('AvenirNextCyr-Regular.eot');
	src: local('☺'), url('AvenirNextCyr-Regular.woff') format('woff'), url('AvenirNextCyr-Regular.ttf') format('truetype'), url('AvenirNextCyr-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Demi';
	src: url('AvenirNextCyr-Demi.eot');
	src: local('☺'), url('AvenirNextCyr-Demi.woff') format('woff'), url('AvenirNextCyr-Demi.ttf') format('truetype'), url('AvenirNextCyr-Demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Bold';
	src: url('AvenirNextCyr-Bold.eot');
	src: local('☺'), url('AvenirNextCyr-Bold.woff') format('woff'), url('AvenirNextCyr-Bold.ttf') format('truetype'), url('AvenirNextCyr-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AvenirNextCyr-Medium';
	src: url('AvenirNextCyr-Medium.eot');
	src: local('☺'), url('AvenirNextCyr-Medium.woff') format('woff'), url('AvenirNextCyr-Medium.ttf') format('truetype'), url('AvenirNextCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}